@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html {
    height: 100%;
}

body {
    background-image: url("../sourcesImage/sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#win {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#bg {
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

#title {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    background-color: rgba(82, 79, 159, 0.7);
    color: white;
}

#pic_3 {
    position: absolute;
    display: block;
    /*    border: 1px solid black;*/
    width: 60px;
    height: 60px;
}

#plane3 {
    height: 100%;
    width: 100%;
}

#logo_title {
    /*    border: 1px solid black;*/
    position: absolute;
    display: block;
    left: 40%;
    width: 170px;
    height: 60px;
}

#h1 {
    /*    border: 1px solid black;*/
    display: block;
    float: right;
    margin: 0;
    padding: 18px 0px;
    font-size: 24px;
    font-family: 'cwTeXYen';
}

#pic_menu {
    position: absolute;
    display: block;
    padding: 15px 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

#threeLine {
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.show {
    display: visible;
}

#menu {
    position: absolute;
    /*    border: 1px solid black;*/
    top: 60px;
    right: 0px;
    width: 200px;
    height: 480px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: none;
    background-color: rgba(82, 79, 159, 0.9);
    z-index: 9999;
}

#plane19 {
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 300px;
    height: 300px;
}

#homepage {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#homepage:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#lessons {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#lessons:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#voc_card {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#voc_card:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#sign_in {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#sign_in:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#aim {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#aim:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#grammar {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#grammar:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#game {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#game:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#ques {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#ques:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#vocabulary {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#vocabulary:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#articles {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#articles:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#videos {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#videos:hover {
    background-color: rgba(150, 100, 159, 0.9);
}

#pics_to_learn {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'cwTeXYen';
    height: 20px;
}

#pics_to_learn:hover {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(150, 100, 159, 0.9);
}

#card {
    position: absolute;
    cursor: pointer;
    top: 120px;
    left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#card:hover {
    position: absolute;
    cursor: pointer;
    top: 120px;
    left: 5%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#ved {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 25%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#ved:hover {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 25%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#H_aim {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#H_aim:hover {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 40%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#gra {
    position: absolute;
    cursor: pointer;
    top: 140px;
    left: 60%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#gra:hover {
    position: absolute;
    cursor: pointer;
    top: 140px;
    left: 60%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#voc {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 80%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#voc:hover {
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 80%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#H_ques {
    position: absolute;
    cursor: pointer;
    top: 360px;
    left: 13%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#H_ques:hover {
    position: absolute;
    cursor: pointer;
    top: 360px;
    left: 13%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#sign {
    position: absolute;
    cursor: pointer;
    top: 355px;
    left: 27%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#sign:hover {
    position: absolute;
    cursor: pointer;
    top: 355px;
    left: 27%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#H_game {
    position: absolute;
    cursor: pointer;
    top: 380px;
    left: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#H_game:hover {
    position: absolute;
    cursor: pointer;
    top: 380px;
    left: 80%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#art {
    position: absolute;
    cursor: pointer;
    bottom: 75px;
    left: 23%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#art:hover {
    position: absolute;
    cursor: pointer;
    bottom: 75px;
    left: 23%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#les {
    position: absolute;
    cursor: pointer;
    top: 430px;
    left: 45%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#les:hover {
    position: absolute;
    cursor: pointer;
    top: 430px;
    left: 45%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#pic {
    position: absolute;
    cursor: pointer;
    top: 500px;
    left: 63%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#pic:hover {
    position: absolute;
    cursor: pointer;
    top: 500px;
    left: 63%;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}